body {
    font-family: 'Montserrat', sans-serif;
    color: #022601;
}

.col-lg.text h2 {
    font-size: 1.375em;
    font-weight: 700;
    margin-bottom: 29px;
}

.col-lg.text h2 span{
    color: #F24B0F;
}

.col-lg.text .article{
    line-height: 2;
    padding-right: 3%;
    margin-bottom: 30px;
    font-size: 0.9375em;
}

.col-lg.text .button-article{
    padding: 12px 28px;
    display: inline-block;
    color: white;
    background-color: #F24B0F;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 30px;
}

.container-fluid.nav-mobile {
    width: 90%;
    padding: 0;
}

.container-fluid.steps {
    padding: 0;
}

.container-fluid.steps h2 {
    margin: 0 5%;
    font-size: 1.375em;
    font-weight: 700;
    margin-top: 27px;
}

.container-fluid.steps .step {
    margin: 24px 0;
}

.container-fluid.steps .step span {
    display: block;
    font-weight: 700;
    font-size: 1.0625em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-fluid.steps .step h3 {
    display: block;
    font-weight: 700;
    font-size: 1.0625em;
    text-align: center;
    margin-bottom: 20px;
}

.container-fluid.steps .step-three .far.fa-smile,
.container-fluid.steps .step-two .far.fa-calendar-alt,
.container-fluid.steps .step-one .fas.fa-phone-alt {
    font-size: xxx-large;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.container-fluid.steps h2 span{
    font-weight: 400;
}

.container-fluid.steps .step {
    background-color: #C6E2E5;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2em;
    padding-bottom: 40px;
    font-size: 0.9375em;
}

.navbar {
    padding-top: 0.8125em;
    padding-bottom: 0.8125em;
}

.nav-item{
    font-size: 0.9375em;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    color: #022601;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    width: fit-content;
    font-weight: 700;
    border-bottom: 5px solid #F24B0F;
}

.navbar-brand img {
    display: inline-block;
    height: 30px;
    width: 50px;
}

.navbar-brand h1 {
    font-size: 0.8125em;
    font-weight: 700;
    display: inline-block;
    margin-left: 0.33em;
    vertical-align: sub;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(img/hamburger-nav.png)
}

.navbar-toggler {
    border: none;
    font-size: unset;
    padding-right: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.nav-link.d-flex {
    color: #F24B0F;
    padding: 0;
    display: unset!important;
    font-weight: 700;
}
.container-fluid.main {
    padding: 0;
    background-color: #F4DBD6;
}

.col-lg.text{
    padding-left: 5%;
    padding-right: 5%;
}

.col-lg.img img{
    width: 100%;
    max-height: 35vh;
}

.row {
    --bs-gutter-x: 0;
}

.glider-section {
    background-color: #F2ECE9;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.glider-section h2 {
    margin-left: 5%;
    padding: 25px 0 16px 0;
    font-size: 1.375em;
    font-weight: 700;
}

.glider-section.klanten-vinden h2 {
    font-weight: 400;
}

.glider-section span {
    font-weight: 400;
}

.glider-section .glider-item-one,
.glider-section .glider-item-two,
.glider-section .glider-item-three,
.glider-section .glider-item-four {
    background-color: white;
    margin-right: 1%;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 3px 8px -3px rgba(2,38,1,0.5); 
    box-shadow: 3px 3px 8px -3px rgba(2,38,1,0.5);
}

.glider-section .glider-article {
    padding-left: 5%;
    padding-right: 5%;
}

.glider-section .glider-article p.name {
    margin-top: 23px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 0.9375em;
}

.glider-section .glider-article p.function {
    font-weight: 400;
    font-size: 0.8125em;
}

.glider-section .glider-article h4 {
    font-weight: 700;
    font-size: 1.0625em;
    margin-top: 25px;
    margin-bottom: 8px;
}

.glider-section .glider-article .stars {
    margin-bottom: 30px;
}

.glider-section .glider-article p {
    line-height: 2em;
    font-size: 0.9375em;
}

.glider-section .glider-article p.glider-p {
    margin-bottom: 25px;
}

.stars .fas.fa-star {
    color: #FAC917;
}

.glider-prev {
    position: unset;
    display: inline-block;
    margin-left: 15%;
    color: #F24B0F;
    padding-top: 18px;
}

.glider-next {
    float: right;
    margin-right: 15%;
    position: unset;
    display: block;
    color: #F24B0F;
    padding-top: 18px;
}

.glider-next:focus, .glider-next:hover, .glider-prev:focus, .glider-prev:hover {
    color: #F24B0F;
}

.glider-next.disabled, .glider-prev.disabled {
    color: #022601;
    opacity: unset;
}

.footer .social-media {
    margin-top: 47px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #022601;
}

.footer .facebook h3,
.footer .instagram h3 {
    font-weight: 700;
    font-size: 1.0625em;
    margin-top: 13px;
}

.footer .facebook .volg-ons,
.footer .instagram .volg-ons {
    font-weight: 400;
    font-size: 0.9375em;
    margin-top: 10px;
}

.footer .instagram {
    margin-top: 37px;
    margin-bottom: 15px;
}

.footer .border-top {
    border-top: 1px solid #022601;
    padding-top: 15px;
    font-weight: 400;
    font-size: 0.75em;
}

.footer .border-top .copyright p {
    margin: 0;
}

.footer .border-top .copyright,
.footer .border-top .email {
    margin-bottom: 9px;
}


.container-fluid.main.over-ons {
    background-color: #C6E2E5;
}

.text-img-article {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.text-img-article .article-text {
    line-height: 2;
    font-size: 0.9375em;
}

.text-img-article .article-img {
    margin-top: 10px;
}

.text-img-article .article-text h3 {
    color: #F24B0F;
    font-weight: 700;
    font-size: 0.9375em;
}

.container-fluid.main .text {
    padding-top: 37px;
}

.container-fluid.main h4 {
    color: white;
    font-weight: 700;
    font-size: 0.9375em;
    margin-bottom: 4px;
}

.container-fluid.main.services {
    background-color: #C6E2E5;
}

.container-fluid.main.contact h2 {
    margin-bottom: 65px;
}

.container-fluid.main.contact .text {
    margin-bottom: 40px;
}

.container-fluid.main.contact .phone-contact i,
.container-fluid.main.contact .email-contact i,
.container-fluid.main.contact .place-contact i {
    display: inline-block;
    font-size: xx-large;
    color: #022601;
    width: 30px;
}

.container-fluid.main.contact .phone-contact h5,
.container-fluid.main.contact .email-contact h5,
.container-fluid.main.contact .place-contact h5 {
    display: inline-block;
    font-size: 0.9375em;
    margin-left: 25px;
    margin-bottom: 45px;
    font-weight: 400;
    vertical-align: super;
}

.container-fluid.main.contact .phone-contact h5 a,
.container-fluid.main.contact .email-contact h5 a,
.container-fluid.main.contact .place-contact h5 a{
    text-decoration: none;
    color: #022601;
}

.none-small {
    display: none;
}

@media (min-width: 768px) {

}


@media (min-width: 992px) {

    .header.navbar.navbar-expand-lg.navbar-light {
        padding-bottom: 0;
    }

    .header.navbar.navbar-expand-lg.navbar-light .container-fluid {
        border-bottom: 1px solid #022601;
        padding-bottom: 12px;
    }

    .navbar.navbar-light.navbar-expand-sm.none-small.nav-bar-l {
        padding-bottom: 0;
        background-color: white;
    }

    .container-fluid.nav-desktop {
        width: 90%;
        padding: 0;
    }

    .navbar.navbar-light.navbar-expand-sm.none-small.nav-bar-l .navbar-nav a {
        padding-left: 0;
        margin-right: 18px;
    }

    .col-lg.text h2 {
        font-size: 2.75em;
        margin-top: 35px;
    }

    .container-fluid.steps h2 {
        font-size: 2.75em;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .steps .row {
        padding-left: 5%;
        padding-right: 5%;
    }

    .steps .row .step {
        margin-right: 75px;
    }

    .steps .row .step.step-three {
        margin-right: 0;
    }

    .container-fluid.steps {
        margin-bottom: 70px;
    }

    .container-fluid.steps .step {
        padding-left: 4%;
        padding-right: 4%;
    }

    .none-small {
        display: block;
    }

    .navbar-brand h1 {
        font-size: 17px;
    }

    .nav-link.d-flex {
        color: #F24B0F;
        padding: 0;
        display: unset!important;
        border: 1px solid #F24B0F;
        padding: 10px;
        font-weight: 700;
    }

    .nav-link.d-flex:hover {
        color: #e24a13;
        border-color: #e24a13;
        transition: ease-in-out;
    }

    .klanten-vinden h2 {
        font-size: 2.75em;
    }

    .klanten-vinden .glider {
        padding-left: 5%;
    }

    .glider-section .glider-article {
        padding-left: 13%;
        padding-right: 13%;
        margin-bottom: 30px;
    }

    .glider-item .glider-article p.name,
    .glider-item .glider-article h4 {
        font-size: 1.4375em;
    }
    .glider-item .glider-article p.glider-p {
        font-size: 1.0625em;
        margin-bottom: 35px;
    }

    .glider-prev,
    .glider-next {
        margin-bottom: 10px;
    }

    .footer .social-media .instagram {
        margin-top: 0;
    }

    .footer .social-media {
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .footer .border-top .copyright {
        text-align: left;
        margin-left: 5%;
    }

    .footer .border-top .email {
        text-align: right;
        margin-right: 5%;
    }

    .none-xl {
        display: none;
    }

    .col-lg.text{
        max-width: 50%;
    }

    .col-lg.text .article {
        font-size: 1.0625em;
        padding-right: 19%;
    }

    .col-lg.text .button-article {
        margin-bottom: 85px;
    }

    .col-lg.text .button-article:hover {
        background-color: #e24a13;
        transition: ease-in-out;
    }

    .col-lg.img img{
        max-height: 100%;
        object-fit: cover;
    }

    .col-lg.img .img-fluid{
        height: 100%;
    }
}


@media (min-width: 1200px) {}
@media (min-width: 1400px) {}